### 도별 인구 집계

#### 필요한 패키지들을 불러온다:

In [1]:
import pandas as pd
import numpy as np
import os
from matplotlib import font_manager, rc
%matplotlib inline
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

#### 데이터 프레임을 읽어 온다:

In [2]:
#os.chdir(r"C:\Users\sycha_000\Documents\교육사업\20190118_Python 분석 기초\data")
os.chdir(r"..\data")

In [3]:
# df = pd.read_csv('data_population.csv', header='infer',encoding='ISO-8859-1')
df = pd.read_csv('data_population.csv', header='infer',encoding = 'ms949', na_values=[' '])

In [4]:
df.shape

(281, 9)

In [5]:
df.head(10)

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,NaN,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
2,3,서울특별시,중구,126817,59614,2.13,63292,63525,1.00
3,4,서울특별시,용산구,235186,108138,2.17,114119,121067,0.94
4,5,서울특별시,성동구,298145,126915,2.35,148265,149880,0.99
5,6,서울특별시,광진구,362197,158769,2.28,177946,184251,0.97
6,7,서울특별시,동대문구,362604,160110,2.26,181825,180779,1.01
7,8,서울특별시,중랑구,417976,177077,2.36,208657,209319,1.00
8,9,서울특별시,성북구,464176,192670,2.41,227676,236500,0.96
9,10,서울특별시,강북구,333523,141325,2.36,164304,169219,0.97

#### 결측치 처리

In [6]:
# 처리전 정상값 집계.
df.count()

Unnamed: 0     281
Province       281
City           263
Population     281
Households     281
PersInHou      281
Male           281
Female         281
GenderRatio    281
dtype: int64

In [7]:
# 결측치 포함된 행 제거.
df=df.dropna(axis=0)

In [8]:
# 처리후 정상값 집계.
df.count()

Unnamed: 0     263
Province       263
City           263
Population     263
Households     263
PersInHou      263
Male           263
Female         263
GenderRatio    263
dtype: int64

#### 다양한 방법으로 그룹 평균을 구한다:

In [9]:
df.groupby('Province')['Population'].sum()

Province
강원도         1547166
경기도        18723822
경상남도        4428762
경상북도        3215695
광주광역시       1476974
대구광역시       2491137
대전광역시       1525656
부산광역시       3517491
서울특별시      10078850
울산광역시       1169768
인천광역시       2914271
전라남도        1902638
전라북도        2523806
제주특별자치도      615250
충청남도        2671383
충청북도        2414568
Name: Population, dtype: int64

In [10]:
# 세로 방향으로.
df.pivot_table(index = 'Province', values = 'Population', aggfunc=np.sum)

          Population
Province
강원도          1547166
경기도         18723822
경상남도         4428762
경상북도         3215695
광주광역시        1476974
대구광역시        2491137
대전광역시        1525656
부산광역시        3517491
서울특별시       10078850
울산광역시        1169768
인천광역시        2914271
전라남도         1902638
전라북도         2523806
제주특별자치도       615250
충청남도         2671383
충청북도         2414568

In [11]:
# 가로 방향으로.
df.pivot_table(columns = 'Province', values = 'Population', aggfunc=np.sum)

Province,강원도,경기도,경상남도,경상북도,광주광역시,대구광역시,대전광역시,부산광역시,서울특별시,울산광역시,인천광역시,전라남도,전라북도,제주특별자치도,충청남도,충청북도
Population,1547166,18723822,4428762,3215695,1476974,2491137,1525656,3517491,10078850,1169768,2914271,1902638,2523806,615250,2671383,2414568